# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

The Course has helped me understand the various different tools used in Data science and help us to analyse on how to implement them in the corporate world.

List popular languages for Data Science
- Python
- R Studio
- SQL
- Julia
- Scala

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
|  R Studio IDE      |
|  Github            |

### Below are a few examples of evaluating arithmetic expressions in Python

*This a simple arithmetic expression to mutiply then add integers*

In [2]:
(3*4)+5

17

*This will convert 200 minutes to hours by diving by 6*

In [21]:
mins = 200
Hrs = 200/60
hrs = round(Hrs, 2)
print("200 mins is ", hrs , "hours")

200 mins is  3.33 hours

## Author

Baranidharan Manibalan